.glitch {
                animation: glitch-skew 4s cubic-bezier(.25, .46, .45, .94) 4s infinite;
                font-family: orbitron, sans-serif;
                font-size: 400%;
                font-weight: 900;
                line-height: 1;
                text-align: center;
                text-transform: uppercase;
                transform-origin: center top;

                @media only screen and (min-width: 768px) {
                /* For desktop: */
                font-size: 800%;
                }


                position: relative;

                &__main {
                    color: #FFF;
                }

                &__color {
                    height: 100%;
                    left: 0;
                    opacity: 0.8;
                    position: absolute;
                    top: 0;
                    transform-origin: center center;
                    width: 100%;
                    z-index: -1;

                    &--red {
                        animation: glitch 300ms cubic-bezier(.25, .46, .45, .94) infinite;
                        color: red;
                    }

                    &--blue {
                        animation: glitch 300ms cubic-bezier(.25, .46, .45, .94) infinite reverse;
                        color: blue;
                    }

                    &--green {
                        animation: glitch 300ms cubic-bezier(.25, .46, .45, .94) 100ms infinite;
                        color: #00FF0B;
                    }

                    &--dark-red {
                     animation: glitch 200ms cubic-bezier(.25, .46, .45, .94) 100ms infinite;
                     color:#FA3838}
                }

                &__line {
                    animation: glitch-line 2s linear infinite;
                    background: #000;
                    content: '';
                    height: 1px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;

                    &--first {
                        animation: glitch-line 2s linear infinite;
                    }

                    &--second {
                        animation: glitch-line 1s linear 1s infinite;
                    }
                }
            }

            @keyframes glitch {
                0% {
                    transform: translate(0);
                }
                20% {
                    transform: translate(-8px, 8px);
                }
                40% {
                    transform: translate(-8px, -8px);
                }
                60% {
                    transform: translate(8px, 8px);
                }
                80% {
                    transform: translate(8px, -8px);
                }
                100% {
                    transform: translate(0);
                }

            }