.glitch {
  animation: glitch-skew 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
  font-family: orbitron, sans-serif;
  font-size: 400%;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .glitch {
      font-size: 800%;   }
}
    .glitch__main {
      color: #FF3333; }
      .glitch__color {
        height: 100%;
        left: 0;
        opacity: 0.8;
        position: absolute;
        top: 0;
        transform-origin: center center;
        width: 100%;
        z-index: -1; }
        .glitch__color--red {
          animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
          color: red; }
          .glitch__color--blue {
            animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
            color: blue; }
            .glitch__color--green {
              animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
              color: #00FF0B; }
              .glitch__color--dark-red {
                animation: glitch 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
                color: #FA3838; }
  .glitch__line {
    animation: glitch-line 2s linear infinite;
    background: #000;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
    .glitch__line--first {
      animation: glitch-line 2s linear infinite; }
      .glitch__line--second {
        animation: glitch-line 1s linear 1s infinite; }

@keyframes glitch {
  0% {
    transform: translate(0);   }
    20% {
      transform: translate(-8px, 8px);   }
      40% {
        transform: translate(-8px, -8px);   }
        60% {
          transform: translate(8px, 8px);   }
          80% {
            transform: translate(8px, -8px);   }
            100% {
              transform: translate(0);   }
}
