<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->
        <!--<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />-->
        <title>TOKENCLUB</title>

        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
        {% assets "scss_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL}}">
        {% endassets %}

        <!--Bulma imports-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <!--Custom Overide Css-->
        <style>

            body {
                font-family: orbitron;
                }

            /* {border: 1px dashed blue} */

            #space_box {
                position: absolute;
                z-index: -1;
                width:100%;
                height: 100%;
            }

            .container {z-index:2;
                }

            .container>* {
                z-index:2;
                }

              .is-transparent {
                background-color: rgba(0, 0, 0, 1);
              }

             #audio {

             }
        </style>
        <script type="text/javascript">
            function toggleStuff(id,class_toggle) {
              var element = document.getElementById(id)

              if (element.classList) {
                    element.classList.toggle(class_toggle);
                    }
              }

             function muteAudio(id) {
                document.getElementById(id).muted = true;
             }
  </script>
    </head>
    <body>
        <script type="javascript">
            setTimeout(function () {
            window.scrollTo(0, 1);
            }, 1000);
        </script>

        <!--// Asteroid field backgroung animation-->
        <canvas id="space_box" style="background:#fff;"></canvas>

        <!--//Website content-->
        <div style="overflow-y: scroll; overflow: auto;max-height: 100vh;">
            <section class="section">
                <div class="container">
                    <div class="centered glitch" data-text="Token" style="max-width: 100vw;">
                        <span class="glitch__color glitch__color--dark-red">Token</span>
                        <span class="glitch__color glitch__color--red">Token</span>
                        <span class="glitch__color glitch__color--red">Token</span>
                        <span class="glitch__main">Token</span>
                    </div>
                </div>
            </section>
            <br>
            <div class="container">
                 <div class="columns is-centered is-2">
                     <div class="column is-half">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent">
                                <article class="tile is-parent is-vertical" style="background-color: rgba(25,25,25,0.7);">
                                    <p class="title has-text-light">5/10</p>
                                    <div class="tile is-child box has-background-light" onclick="toggleStuff('content','is-hidden')">
                                        <p class="title">Figueira</p>
                                        <p class="subtitle">Untitled</p>

                                        <div id="content" class=" content is-hidden">
                                            <figure class="image is-256x256 is-roundeds is-overlay is-pulled-right">
                                                <img class="is-rounded" src="https://www.residentadvisor.net/images/profiles/figueira.jpg">
                                            </figure>
                                            <p>Desengane-se aquele que pelo seu ar jovem e sorriso aberto, considere Figueira um artista de pouco traquejo. Em poucos anos, tem vindo a afirmar-se enquanto músico e, também, enquanto co-fundador da Untitled, tendo responsabilidade assumida na afirmação do movimento underground da actualidade.</p>
                                            <p>A sua aprendizagem é feita por escutar e aprender com o que de melhor se faz na música electrónica contemporânea, escolha esta directamente reflectida nos seus sets profundos e contagiantes.</p>
                                            <p>Figueira é uma lufada de ar fresco no quadro da música electrónica nacional, enquanto DJ e, ainda, enquanto feitor das festas mais quentes que se fazem a sul, pela mão da promissora Untitled.</p>
                                            <p>Este jovem não deixa ninguém indiferente e a sua marca é já visível. É definitivamente um rosto a seguir pelos apreciadores de música electrónica, que promete dar que falar.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="tile is-child box">
                                        <p class="title">Délcio</p>
                                        <p class="subtitle">Doméstica</p>
                                    </div>

                                    <div class="tile is-child box">
                                        <p class="title">La Nuit</p>
                                        <p class="subtitle">TOKENCLUB</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                     </div>


                    <div class="column is-half">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent">
                                <article class="tile is-parent is-vertical" style="background-color: rgba(25,25,25,0.7)">

                                    <p class="title has-text-light">6/10</p>
                                    <article class="tile is-child box">
                                            <p class="title">Diana May</p>
                                            <p class="subtitle">Berlin</p>
                                    </article>

                                    <article class="tile is-child box">
                                        <p class="title">VIL</p>
                                        <p class="subtitle">Hayes</p>
                                    </article>

                                </article>
                            </div>
                        </div>
                     </div>
                </div>
             </div>
            <br>
            <br>
            <audio controls autoplay  id="audio" style="display:none;">
              <source src="audio/Acronym-16-Cygni.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <i class="fas fa-plus" onclick="muteAudio('audio')"></i>
            <!--<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/492344556&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>-->

        </div>


        <!--// Asteroid field backgroung animation-->
        <script type="text/javascript" src="js/space.js"></script>

        <!--<footer class="footer is-pulled-bottom">-->
            <!--<div class="container">-->
              <!--<div class="content has-text-centered is-centered ">-->
                <!--<div id="tsp">-->
                  <!--<p>-->
                    <!--<a href="https://bulma.io">-->
                    <!--<img src="https://bulma.io/images/made-with-bulma&#45;&#45;dark.png" alt="Made with Bulma" width="128" height="24">-->
                    <!--</a>-->
                    <!--<small>-->
                          <!--<br>-->
                          <!--Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.-->
                          <!--<br>-->
                          <!--Website content licensed <a rel="license" href="https://ciencias.ulisboa.pt/">Gritter</a>.-->
                        <!--</small>-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
        <!--</footer>-->
    </body>
</html>