<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->
        <!--<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />-->
        <title>TOKENCLUB</title>

        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
        {% assets "scss_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL}}">
        {% endassets %}

        <!--Bulma imports-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <!--Custom Overide Css-->
        <style>

            body {
                font-family: orbitron;
                }

            /* {border: 1px dashed blue} */

            #space_box {
                position: absolute;
                z-index: -1;
                width:100%;
                height: 100%;
            }

            .container {z-index:2;
                }

            .container>* {
                z-index:2;
                }

              .is-transparent {
                background-color: rgba(0, 0, 0, 1);
              }

              .artist_photo {
                display: block;
                margin-left: auto;
                margin-right: auto;
              }

             #audio {

             }
        </style>
        <script type="text/javascript">
            function toggleStuff(id,class_toggle) {
              var element = document.getElementById(id)

              if (element.classList) {
                    element.classList.toggle(class_toggle);
                    }
              }

             //function openEventBox(id,option) {
               // var element = document
             //}

             function playAudio(id) {
                document.getElementById(id).muted = false;
             }

             function muteAudio(id) {
                document.getElementById(id).muted = true;
             }
  </script>
    </head>
    <body>
        <script type="javascript">
            setTimeout(function () {
            window.scrollTo(0, 1);
            }, 1000);
        </script>

        <!--// Asteroid field backgroung animation-->
        <canvas id="space_box" style="background:#fff;"></canvas>

        <!--//Website content-->
        <div style="overflow-y: scroll; overflow: auto;max-height: 100vh;">
            <section class="section">
                <div class="container">
                    <div class="centered glitch" data-text="Token" style="max-width: 100vw;">
                        <span class="glitch__color glitch__color--dark-red">Token</span>
                        <span class="glitch__color glitch__color--red">Token</span>
                        <span class="glitch__color glitch__color--red">Token</span>
                        <span class="glitch__main">Token</span>
                    </div>
                </div>
            </section>
            <br>
            <div class="container">
                 <div class="columns is-centered is-2">
                     <div class="column is-half">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent">
                                <article class="tile is-parent is-vertical" style="background-color: rgba(25,25,25,0.7);">
                                    <p class="title has-text-light">5/10</p>
                                    <div class="tile is-child box has-background-light" onclick="toggleStuff('content_figueira','is-hidden')">
                                        <p class="title">Figueira</p>
                                        <p class="subtitle">Untitled</p>
                                        <!--Hidden Content-->
                                        <div id="content_figueira" class="content is-hidden">
                                            <figure class="image is-128x128 is-rounded artist_photo">
                                                <img class="is-rounded" src="https://i1.sndcdn.com/avatars-000445533342-sqvfxk-t500x500.jpg">
                                            </figure>
                                            <p>Desengane-se aquele que pelo seu ar jovem e sorriso aberto, considere Figueira um artista de pouco traquejo. Em poucos anos, tem vindo a afirmar-se enquanto músico e, também, enquanto co-fundador da Untitled, tendo responsabilidade assumida na afirmação do movimento underground da actualidade.</p>
                                            <p>Figueira é uma lufada de ar fresco no quadro da música electrónica nacional, enquanto DJ e, ainda, enquanto feitor das festas mais quentes que se fazem a sul, pela mão da promissora Untitled.</p>
                                            </p>
                                            <p>Texto: Ester Grácio</p>
                                            <br>
                                            <a href="https://www.residentadvisor.net/dj/figueira">Resident Advisor</a>
                                            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/445781883&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>                                        </div>
                                            <span class="icon is-hovered is-pulled-right">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                    </div>

                                    <div class="tile is-child box"  onclick="toggleStuff('content_delcio','is-hidden')">
                                        <p class="title">Délcio</p>
                                        <p class="subtitle">Doméstica</p>
                                        <!--Hidden Content-->
                                        <div id="content_delcio" class="content is-hidden">
                                            <figure class="image is-256x256 is-rounded artist_photo">
                                                <img class="is-rounded" src="https://www.residentadvisor.net/images/profiles/delcio.jpg">
                                            </figure>
                                            <p></p>
                                            <a href="https://www.residentadvisor.net/dj/delcio">Resident Advisor</a>
                                        </div>
                                        <!--More Icon-->
                                        <span class="icon is-hovered is-pulled-right">
                                                <i class="fas fa-plus"></i>
                                        </span>
                                    </div>

                                    <div class="tile is-child box" onclick="toggleStuff('content_lanuit','is-hidden')">
                                        <p class="title">La Nuit</p>
                                        <p class="subtitle">TOKENCLUB</p>
                                        <!--Hidden Content-->
                                        <div id="content_lanuit" class="content is-hidden">
                                            <figure class="image is-128x128 is-rounded artist_photo">
                                                <img class="is-rounded" align="middle" src="https://i1.sndcdn.com/avatars-000277066169-nqur7d-t500x500.jpg">
                                            </figure>
                                            <br>
                                            <p>La Nuit é um natural transmissor de energia...</p>
                                            <p>Físicamente ligado ao techno e químicamente ligado ao dance floor, com uma batida fortemente progressiva e ritmo variado, é capaz de atingir o coração mais melódico e súbitamente rebentar uma supernova, tornando impossível não mexer parte alguma do corpo, portanto, é terapêutico.</p>
                                            <p>Co-fundador do projeto algarvio Praça que conta com sua ativa participacão no programa de radiofonia com o mesmo nome e eventos associados à mesma matéria, é um dos impulsionadores da vertente eletrónica na sua área de residência. Mas não satisfeito, frequentemente se encalha nesta personagem icónica nos espaços de referência de Lisboa, ou de repente, por Berlim, onde desenvolve outra área criativa que o define como artista, a fotografia.</p>
                                            <p>Mais que um pé de dança, uma viagem no espaço sideral na qual ele é a velocidade e ele é a luz.</p>
                                            <br>
                                            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/292583614&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>                                        <!--More Icon-->
                                        </div>
                                        <span class="icon is-pulled-right">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                     </div>


                    <div class="column is-half">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent">
                                <article class="tile is-parent is-vertical" style="background-color: rgba(25,25,25,0.7)">

                                    <p class="title has-text-light">6/10</p>
                                    <article class="tile is-child box" onclick="toggleStuff('content_dianamay','is-hidden')">
                                            <p class="title">Diana May</p>
                                            <p class="subtitle">Berlin</p>
                                            <!--Hidden Content-->
                                        <div id="content_dianamay" class=" content is-hidden">
                                            <figure class="image is-128x128 is-rounded artist_photo">
                                                <img class="is-rounded" src="https://i1.sndcdn.com/avatars-000501011109-s8bjo5-t500x500.jpg">
                                            </figure>
                                            <p>Diana Perova alias Diana May was born in Russia and came to Austria at the age of 10, right now based in Berlin, Germany.</p>
                                            <p>After many many nights out Diana wanted to pull the strings by herself and started as Light Jockey at a Club called Kottulinsky(Austria).2 Years of experience later Diana May changed to Djing.</p>
                                            <p>Her passion lies in Tech House & Techno, with bassy vibes & catchy synthesizer.</p>
                                            <p>Her first release “90´s Machine” with remixes by Michael Nielebock and Lauschtakt & Ulrich makes people get on the dance floor!</p>
                                            <br>
                                            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/367682429&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>                                        <!--More Icon-->
                                        </div>
                                            <span class="icon is-hovered is-pulled-right">
                                                <i class="fas fa-plus"></i>
                                        </span>
                                    </article>

                                    <article class="tile is-child box" onclick="toggleStuff('content_vil','is-hidden')">
                                        <p class="title">VIL</p>
                                        <p class="subtitle">Hayes</p>
                                        <!--Hidden Content-->
                                        <div id="content_vil" class=" content is-hidden">
                                            <figure class="image is-128x128 is-rounded artist_photo">
                                                <img class="is-rounded" src="https://i1.sndcdn.com/avatars-000403790001-i73uhn-t500x500.jpg">
                                            </figure>
                                            <p>VIL’s refined taste and set building ability has already earned him a place at some of the best clubs in the country, of which Lux Frágil, Gare, and Ministerium are included, and is a regular presence at many of the country’s festivals as well.</p>
                                            <p>Fast forward to 2018, where alongside Portuguese artists Temudo, menosdois, and Osse, he creates Hayes, a collective focused on showcasing the distinct output of its artists through vinyl and digital releases.</p>
                                            <p>Already counting with two releases since its inception, their music has already been played and supported by the likes of DVS1, Etapp Kyle, Truncate, Jeroen Search, Ben Klock, Shlomi Aber, and many more players within the scene.</p>
                                            <br>
                                            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/489262515&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                        </div>
                                        <!--More Icon-->
                                        <span class="icon is-hovered is-pulled-right">
                                                <i class="fas fa-plus"></i>
                                        </span>
                                    </article>

                                </article>
                            </div>
                        </div>
                     </div>
                </div>
             </div>
            <!--<br>-->
            <br>
            <!-- Audio & Controler SECTION-->
            <section class="section">
                <!--<div id="audio_control" class="container is-pulled-right">
                    <a class="button is-large is-success is-outlined">
                        <span class="icon">
                            <i class="fas fa-volume-up" onclick="playAudio('audio')"></i>
                        </span>
                    </a>
                    <a class="button is-large is-danger is-outlined">
                        <span class="icon">
                            <i class="fas fa-volume-off" onclick="muteAudio('audio')"></i>
                        </span>
                    </a>
                <audio controls id="audio" style="display:none;">
                  <source src="audio/Acronym-16-Cygni.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>-->
<iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src=<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/637996782&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            </section>
                <!-- FOOTER SECTION-->
            <footer class="footer is-pulled-bottom has-background-dark">
            <div class="container">
              <div class="content has-text-centered is-centered has-text-white-ter">
                <div id="tsp">
                  <p>
                    <a href="https://bulma.io">
                    <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                    <small>
                          <br>
                          Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
                          <br>
                          Website content licensed <a rel="license" href="https://ciencias.ulisboa.pt/">Gritter</a>.
                        </small>
                  </p>
                </div>
              </div>
            </div>
        </footer>
        </div>


        <!--// Asteroid field backgroung animation-->
        <script type="text/javascript" src="js/space.js"></script>


    </body>
</html>
